---

---

{% include head.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


            <div id="mainContainer_in">
                <!-- <p class="breadcrumbs"><a href="../index.html">Home</a><span> &gt; </span>About PTCAT</p> -->
                <div id="main_content" style="padding:0px 30px 0px 10px"><div class="pagetitle_container"><h2>Seminar</h2></div>

<div style="display:flex">
<div style="width:200px; height:180px;">
    <img style="width:100%; height:auto" src="{{site.baseurl}}/seminar/seminar.jpg" alt="">
</div>    
        <div style="margin-left:25px; line-height:160%">
            <h4>PTCAT Summer Seminar – S. Unknown </h4>
            <p style="font-size:10px; padding-top:0px">July 5 , 2017|  11:00 AM - 12:00 PM</p>
S. Unknown – Hangok Specialist and Architect <br>
                      Title: Convergence of 3D-Printing and Wood-Based Construction  <br>
| Summer Seminar | 11:00 AM- 12:00 PM, June 23, 2017 | Chambers Hall, Lower Level <br>

        </div>   
   

</div>   
                
        

</div>
</div></div>
            </div>
            
            {%include footer.html%}
        </div>
    </div>
</body>
</html>
<!-- Localized -->