---

---
{% include head.html %}
{% include circle.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

<div class="sub_menu_image">


  <!-- <ul style="display:flex; background-color;  font-size:15px;">
<a href="{{site.baseurl}}/gallery/index.html"><li style="color:grey; font-weight:bold">Structure / Building &nbsp</li></a>
<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li style="color:grey; font-weight:bold">Traditional Pattern / Design &nbsp</li></a></strong>
<a href="{{site.baseurl}}/gallery/wood.html"><li style="color:#591A60; font-weight:bold">Wood Structure &nbsp </li></a>
</ul> -->

<br>

    <div style="margin-left:30px;">
        <h3>3D Printing Technology</h3>
                      <h5 style="font-size:15px; color:#591A60"  > - Classification of 3D Printing Methods</h5>
    </div>

<br>

<div class="woodSt">
  
  <h2 style="text-align: center; font-size:20px;"> - 3-Dimensional Printing Technology</h2>

<div  style="display:flex; margin:0px auto !important; width:800px;"   >

<ul class="menu">


  <li class="ui-widget-header" style="margin:0px;"><div>  광중합방식 </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp %}"><li><div>광중합방식 </div></li></a>

  <li class="ui-widget-header" style="margin:0px;"><div>  재료압출 방식  &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pe %}"><li><div>재료압출 방식 </div></li></a>


</ul>
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div> 접착제 분사 방식  &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp2 %}"><li><div>접착제 분사 방식 </div></li></a>

  <li class="ui-widget-header" style="margin:0px;"><div> 재료 분사 방식 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp3 %}"><li><div>재료 분사 방식 </div></li></a>


  <li class="ui-widget-header" style="margin:0px;"><div>  분말적층용융방식 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp4 %}"><li><div>분말적층용융방식 </div></li></a>

</ul>




<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>고에너지 직접조사 </div></li>

  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp5 %}"><li><div>고에너지 직접조사</div></li></a>
  
  <li class="ui-widget-header" style="margin:0px;"><div> 시트 적층 방식 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-09-25-pp6 %}"><li><div> 시트 적층 방식</div></li></a>
</ul>


</div>


<br>
<br>
<br>

<!-- Modal -->
    

{% include footer.html %}
    </div>
</div>
