---

---

{% include head.html %}
{% include circle.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


            <div id="mainContainer_in">
                <!-- <p class="breadcrumbs"><a href="../index.html">Home</a><span> &gt; </span>Research</p> -->
                <div id="main_content" style="padding:0px 30px 0px 20px"><div class="pagetitle_container"><h2>Research</h2></div><p>Research by PTCAT Research Consortium is funded through the Development Program for Convergence R&D over
Traditional Culture and Current Technology by the National Research Foundation of Korea (NRF) grants funded by the
Ministry of Education and by the Ministry of Science, ICT & Future Planning.</p>


<div class="line_height">
<ul style="display:block; list-style-type: square; list-style-position: outside;">
<li>Soil-Based 3D Materials & Processing (Including Rapid Thermal Processing)</li>
<li>Wood-Based 3D Materials & Processing</li>
<li>Paper-Based 3D Materials & Processing</li>
<li>Natural Adhesives for 3D Printing Technology</li>
<li>Large-Scale 3D Printing Systems</li>
<li>Data Informatics for Traditional Culture and Advanced Technology</li>
<li>Applications of 3D Materials & Processing</li>
</ul>

<p>Some of these topics and others are highlighted in greater detail below</p>
<br>

<div style="display: flex;">
            <img style="width:20%; height:20%" 
            src="http://www.3ders.org/images/stone-spray-robot-3d-printer-sand-wall.jpg" alt="">

        <div style="margin-left:15px; margin-top:10px">
            <h4>Soil-Based 3D Materials & Processing</h4>
            <p>PTCAT research in Hongik University includes developing 3D materials and processing
        based on soil-based materials and the new composites are attempted in the multiphase
        mixtures with the aim to achieving high-strength 3D materials hardening in a short time
        period</p>
        </div>
</div>

<br><br>
<div style="display: flex;">
            <img style="width:20%; height:20%" 
            src="{{site.baseurl}}/reserach1.jpg" alt="">

        <div style="margin-left:15px; margin-top:10px">
            <h4>Advanced Illumination Optics for Rapid Hardening</h4>
            <p>Ever-increasing technology advancement in 3D printing demands the introduction of
new optical illumination optical concepts which allow for ultra rapid thermal hardening
in association with the accelerated chemical reactions.
Such endeavors are attempted through flash-lamp annealing and/or VCSEL (Vertical
Cavity Surface Emitting Lasers). HU researchers are developing quantitative predictive
models of thermal annealing along with the introduction of the actual prototypes.</p>
        </div>
</div>

<br><br>   


</div>

</div>
            </div>
            
            {% include footer.html%}
    </div>
</body>
</html>
<!-- Localized -->