---
---
{% include head.html %}

{% include circle.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">
	<ul style="display:flex; margin-top:10px; ">
<strong><a href="{{site.baseurl}}/gallery/index.html"><li style="color:#591A60; font-weight:bold">Structure / Building &nbsp</li></a></strong>
<a href="{{site.baseurl}}/gallery/pattern.html"><li style="color:grey; font-weight:bold">Traditional Pattern / Design &nbsp</li></a>
<a href="{{site.baseurl}}/gallery/wood.html"><li style="color:grey; font-weight:bold">Wood Structure &nbsp </li></a>
</ul>

<hr>
<br>
		<div style="margin-left:30px; ">
				<h3>Structure / Building</h3>
                      <h5 style="font-size:15px; color:#591A60"  > - Korean Traditional Building Structure</h5>
		</div>

		<ul class="menu_sub_title" style="margin-top:10px">
<!-- 			<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li style="color:#591A60">- Pattern A: Flowers & Animals &nbsp</li></a></strong>
			<strong><a href="{{site.baseurl}}/gallery/pattern2.html"><li style="color:grey">- Pattern B: Letters &nbsp</li></a></strong>
			<strong><a href="{{site.baseurl}}/gallery/pattern3.html"><li style="color:grey">- Pattern C: Lattices &nbsp</li></a></strong> -->
		</ul>

</div>


<div class="main_image" >

		<div class="image">
			<img src="{{site.baseurl}}/post_images/con1.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(1)</h3>
		<h4>2017 05 18</h4>
		</div>

				<div class="image">
			<img src="{{site.baseurl}}/post_images/con2.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(2)</h3>
		<h4>2017 05 18</h4>
		</div>

				<div class="image">
			<img src="{{site.baseurl}}/post_images/con3.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(3)</h3>
		<h4>2017 05 18</h4>
		</div>


	<div class="image">
			<img src="{{site.baseurl}}/post_images/con4.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(4)</h3>
		<h4>2017 05 18</h4>
		</div>

	<div class="image">
			<img src="{{site.baseurl}}/post_images/con5.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(5)</h3>
		<h4>2017 05 18</h4>
	</div>	

		<div class="image">
			<img src="{{site.baseurl}}/post_images/con6.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(6)</h3>
		<h4>2017 05 18</h4>
	</div>	

		<div class="image">
			<img src="{{site.baseurl}}/post_images/con7.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Basic Structure(7)</h3>
		<h4>2017 05 18</h4>
	</div>	

		<!-- <div class="image">
			<img src="{{site.baseurl}}/post_images/f7.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Flowers & Animals</h3>
		<h4>2017 05 18</h4>
	</div> -->	


<br><br><br>

	</div> 


</div>

{% include footer.html %}
    </div>
</div>
