---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

{% include circle.html %}

<div class="sub_menu_image">


  <ul style="display:flex; background-color;  font-size:15px;">
  <a href="{{site.baseurl}}/gallery/wood.html"><li style="color:#591A60; font-weight:bold">Wood Structure &nbsp </li></a>
<a href="{{site.baseurl}}/gallery/index.html"><li style="color:grey; font-weight:bold">Structure / Building &nbsp</li></a>
<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li style="color:grey; font-weight:bold">Traditional Pattern / Design &nbsp</li></a></strong>

</ul>

<hr>
<br>

		<div style="margin-left:30px;">
				<h3>Wood Structure</h3>
                      <h5 style="font-size:15px; color:#591A60"  > - Korean Traditional Wood Structure</h5>
		</div>

<br>

<div class="woodSt">

<h2 style="font-size:20px; text-align: center;"> &#9642 결구법 - 쪽매</h2>
<div  style="display:flex; margin:0px auto !important; width:800px; " >


<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div> 혀쪽매 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc1 %}"><li><div>제혀쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-hyeo2 %}"><li><div>딴혀쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-hyeo3 %}"><li><div>양제혀쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-hyeo4 %}"><li><div>턱제혀쪽매</div></li></a>
  </ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>은장쪽매 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc %}"><li><div>나비장쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-eunjang2 %}"><li><div>거멀띠장쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-eunjang3 %}"><li><div>틈막이대쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-eunjang4 %}"><li><div>은살대꽂기</div></li></a>
</ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div> 턱쪽매 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc2 %}"><li><div>반턱쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tukjjok2 %}"><li><div>빗쪽매</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tukjjok3 %}"><li><div>오늬쪽매</div></li></a>
</ul>


</div>
	
	<h2 style="text-align: center; font-size:20px;"> &#9642 결구법 - 이음</h2>

<div  style="display:flex; margin:0px auto !important; width:800px;"   >

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>  장부이음 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc10 %}"><li><div>통장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu %}"><li><div>장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-matjangbu %}"><li><div>맞장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuksol %}"><li><div>턱솔이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tenza %}"><li><div>십자쌍장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-jumok %}"><li><div>주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bantuck %}"><li><div>반턱주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tucker2 %}"><li><div>턱걸이주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-2gup %}"><li><div>두겹주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-sumun %}"><li><div>숨은주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-ssangju %}"><li><div>쌍주먹장부이음</div></li></a>
<a href="{{site.baseurl}}{% post_url 2017-05-12-gupju %}"><li><div>겹주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-naewae %}"><li><div>내외주먹장부이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-maetuk2 %}"><li><div>메뚜기장부이음</div></li></a>

</ul>
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div> 턱이음 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc11 %}"><li><div>반턱이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-galky %}"><li><div>갈퀴이음</div></li></a>
  <li class="ui-widget-header" style="margin:0px;"><div> 엇갈이이음&nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc9 %}"><li><div>엇걸이이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-etgal2 %}"><li><div>엇걸이빗턱이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-etgal3 %}"><li><div>엇걸이촉이음</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-etgal4 %}"><li><div> 엇걸이홈이음</div></li></a>
  <li class="ui-widget-header" style="margin:0px;"><div>  빗이음 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc7 %}"><li><div>빗이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-bit2 %}"><li><div>엇빗이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-bit3 %}"><li><div>빗턱이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-bit4 %}"><li><div>빗걸이이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-bit5 %}"><li><div>엇턱이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-bit6 %}"><li><div>반턱빗이음</div></li></a>
</ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>은장이음 &nbsp</div></li>
  <!-- <li><div>나비장이음</div></li> -->
   <a href="{{site.baseurl}}{% post_url 2017-05-12-jajok %}"><li><div>자촉이음</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-dotumari %}"><li><div> 도투마리은장이음</div></li></a>
  <li class="ui-widget-header" style="margin:0px;"><div> 촉이음 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc6 %}"><li><div> 촉이음</div></li></a>
</ul>


</div>

<h2 style="text-align: center; font-size:20px;"> &#9642 결구법 - 맞춤</h2>
<div  style="display:flex; margin:0px auto !important; width:800px;" >
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>  장부맞춤 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc5 %}"><li><div> 통장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu2 %}"><li><div>빗턱장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu3 %}"><li><div>턱솔장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu5 %}"><li><div>지옥장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu6 %}"><li><div>주먹장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu7 %}"><li><div>턱걸이주먹장부맞춤</div></li></a>
   <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu8 %}"><li><div>두겹주먹장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu9 %}"><li><div> 쌍주먹장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu10 %}"><li><div> 내림주먹장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu11 %}"><li><div>메뚜기장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu12 %}"><li><div>빗장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu13 %}"><li><div>부채장부맞춤</div></li></a>
    <a href="{{site.baseurl}}{% post_url 2017-05-12-jangbu14 %}"><li><div>갈퀴맞춤</div></li></a>

</ul>


<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div> 연귀맞춤 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc3 %}"><li><div>연귀산지맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui2 %}"><li><div>연귀장부맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui3 %}"><li><div>연귀쌍장부맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui5 %}"><li><div>반연귀맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui6 %}"><li><div>바깥연귀맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui7 %}"><li><div>안팎연귀맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui8 %}"><li><div>제비촉맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui9 %}"><li><div>연귀괴불쪽맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui10 %}"><li><div>삼방연귀맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui11 %}"><li><div> 사개연귀맞춤</div></li></a>
<a href="{{site.baseurl}}{% post_url 2017-05-12-yeongui12 %}"><li><div> 숨은사개연귀맞춤</div></li></a>
<li class="ui-widget-header" style="margin:0px;"><div> 턱맞춤 &nbsp</div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc12 %}"><li><div>반턱맞춤</div></li></a>
</ul>

<ul class="menu">
  
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc8 %}"><li><div>나비장맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuk2 %}"><li><div>삼분턱맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuk3 %}"><li><div>양걸침턱맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuk4 %}"><li><div>외걸침턱맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuk5 %}"><li><div>어깨빗따기맞춤</div></li></a>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-tuk6 %}"><li><div>새부리따기맞춤</div></li></a>
  <li class="ui-widget-header" style="margin:0px;"><div>  숭어턱맞춤 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-sungeo %}"><li><div> 숭어턱맞춤</div></li></a>
  <li class="ui-widget-header" style="margin:0px;"><div>촉맞춤 &nbsp </div></li>
  <a href="{{site.baseurl}}{% post_url 2017-05-12-bc4 %}"><li><div> 촉맞춤</div></li></a>
  </ul>

</div>



<br>
<br>
<br>
<br>
<br>




		

{% include footer.html %}
    </div>
</div>
