---

---

{% include head.html %}
{% include circle.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


            <div id="mainContainer_in">
                <!-- <p class="breadcrumbs"><a href="../index.html">Home</a><span> &gt; </span>About PTCAT</p> -->
                <div id="main_content" style="padding:0px 30px 0px 10px; "><div class="pagetitle_container"><h2>People</h2>  
                </div>
<br>
        <div style="display:flex; margin-bottom:50px;">

    <img style="width:150px; height:180px" src="{{site.baseurl}}/people/myoungwoon.png" alt="">
        <div style="margin-left:25px; line-height:160%">
            <h4>Profile</h4>
            Myoungwoon Moon (Principal Research Scientist) <br>
Head, Computational Science Research Center (CSC) <br>
Korea Institute of Science and Technology (KIST), Seoul, Korea. <br>
College of Engineering <br>
P: 82-2-958-5487  <br>
F: <br>
E:  <br>
        </div>   

 <div style="margin-left:40px; line-height:160%">
 <h4>Research Interests</h4>
3D/4D Printing Materials &Processing   <br>
Smart Materials  <br>
Materials Design <br>
Computational Sciences <br>
Surface Engineering <br>
 Surface Nanostructuring <br>    
 Environmental Application <br>    
        </div>             
  </div>   
                 
<div style="display:flex; margin-bottom:50px;">

    <img style="width:150px; height:180px" src="{{site.baseurl}}/hwang.jpg" alt="">
        <div style="margin-left:25px; line-height:160%">
            <h4>Profile</h4>
            Jinha Hwang (Principal Investigator) <br>
Professor of Materials Science & Engineering <br>
Director of HURIST <br>
College of Engineering <br>
P: 82-2-320-3069 <br>
F: 82-2-333-0127 <br>
E: jhwang@wow.hongik.ac.kr <br>
        </div>   

                <div style="margin-left:40px; line-height:160%">
            <h4>Research Interests</h4>
       3D Printing Materials & Processing; Smart <br>
Composites<br>
Cementitious Materials & Processing <br>
Atomic Layer Depositions (Processing & Applications) <br>
Semiconductor Materials (TFTs and Nonvolatile Memories) <br>
Impedance Spectroscopy <br>    
        </div>   

</div>   
        
        <div style="display:flex; margin-bottom:50px">

    <img style="width:150px; height:180px" src="{{site.baseurl}}/people/hasin.png"  alt="">
        <div style="margin-left:25px; line-height:160%">
            <h4>Profile</h4>
            Haeshin Lee (Principal Investigator) <br>
Associate Professor, Department of Chemistry <br>
Director, Center for Nature-inpsired Technology <br>
Associate Editor, Biomaterials Science  <br>
CTO, InnoTherapy Inc. / CATech, KOLON <br>
P: 82-42-350-2889 <br>
F: 82-42-350-2810 <br>
E: haeshin@kaist.ac.kr <br>
        </div>



                <div style="margin-left:25px; line-height:160%">
            <h4>Research Interests</h4>
       Bioadhesives <br>
Industrial Adhesives  <br>
Surface Coating <br>
Polysaccharide Biomaterials  <br>
Hemostasis<br>
        </div>   

</div>   
        

</div>
</div></div>
            </div>
            
            {%include footer.html%}
        </div>
    </div>
</body>
</html>
<!-- Localized -->
