---

---

{% include head.html %}
{% include circle.html %}


<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


            <div id="mainContainer_in">
                <!-- <p class="breadcrumbs"><a href="../index.html">Home</a><span> &gt; </span>About PTCAT</p> -->
                <div id="main_content" style="padding:0px 30px 0px 10px"><div class="pagetitle_container"><h2>Contact</h2></div>

                <p>Traditional culture experts’ help is highly demanded in  PTCAT's mission by funding activities such as
nd more information about the courses, can be found here.
</p>

<br>

<ul style="display:block; padding:10px; list-style: square">
		<li style="margin-bottom:6px">The periodical seminar series</li>
		<li style="margin-bottom:6px">Conferences and Distinguished Speakers</li>
		<li style="margin-bottom:6px">Postdoctoral fellowships & Internships</li>
		<li style="margin-bottom:6px">Curriculum innovation at the undergraduate and graduate level</li>
</ul>


<p>
	Corporate sponsors may participate in conference and executive education, as well as engage PTCAT faculty in research and speaking engagements.

</p>
PTCAT participants include Rokit Inc. Hongik University, KAIST, and KIST, and indirect sponsorship in 3D printing R&D. 

<p>
	
</p>

</div>
</div></div>
            </div>
            
            {%include footer.html%}
        </div>
    </div>
</body>
</html>
<!-- Localized -->