 <div id="footer" style="background-color: #f2f2f2;"">
                <div class="footer_logo_northwestern"><a href="http://northwestern.edu" target="_blank"><img alt="Northwestern University" height="112" src="{{site.baseurl}}/images/Logo.png" width="180" /></a></div>
<a href="www.northwestern.edu" ></a> 
<div class="footer_text">
<!-- <div class="footer_links">
<p><a href="index.html">PTCAT Home</a> | <a href="about/contact-us/index.html">Contact Us</a> | <a href="#" target="_blank">University Policy Statements</a> | <a href="#" target="_blank">Plan-It Purple</a></p>
</div> -->
<div class="footer_info">
<p>
<br>PTCAT (PTCAT)<br />
 K-416, 95 Wowsan_Ro, Mapo-Gu, Seoul 04066, Korea| Tel: 82.2.320.3069 | Email: jhwang@wow.hongik.ac.kr<br />
 &#169; 2017 PTCAT - All rights reserved.</p>
</div>
</div>
            </div>