<div id="header">
                <div class="header_logo_nico"><a href="{{ site.baseurl }}/index.html"><img alt="Northwestern Institute on Complex Systems" height="110" src="{{site.baseurl}}/images/aplLOGO.png" width="196px" /></a></div>
<div class="header_text">
<div class="header_organization">Next-Generation 3D Printing Research Innovation Technology Based on Natural/Tradiational Materials & Processing</div>
<div class="header_parent_organization"><a hre	f="http://www.northwestern.edu/" target="_blank">KIST / KAIST / Hongik-Unvieristy / ROKIT</a></div>
</div>

<div class="header_logo_search"><img alt="Search" style="margin-top:45px" height="23" src="{{site.baseurl}}/img/structure/nico-search.jpg" width="150" />

<form action="http://googlesearch.northwestern.edu/search" id="search" method="get" name="search"><input class="searchInput" id="q" maxlength="127" name="q" title="Search PTCAT..." type="text" style="margin:46px 0px 0px 5px"/> <input name="sitesearch" type="hidden" value="http://www.nico.northwestern.edu" /> <input name="output" type="hidden" value="xml_no_dtd" /> <input name="client" type="hidden" value="default_oneboxes" /> <input name="proxystylesheet" type="hidden" value="default_oneboxes" /> <input name="site" type="hidden" value="default_collection" /></form>
</div>
<!-- <div class="header_logo_kellogg"><a href="http://www.kellogg.northwestern.edu/" target="_blank"><img alt="Kellogg School of Management" height="39" src="img/nico-kellogg.png" width="110" /></a></div> -->
<!-- <div class="header_logo_mccormick"><a href="#" target="_blank"><img alt="#" height="20" src="{{site.baseurl}}/img/nico-mcc.png" width="308" /></a></div> -->
            </div>
            
            <div id="navigation">
               <div id="main-nav">
	                <ul><li class="current"><a href="{{ site.baseurl }}/index.html">Home</a></li>

	                <li><a href="{{site.baseurl}}/about/index.html">About</a></li>
	                <li><a href="{{site.baseurl}}/people/index.html">People</a></li>
	                <li><a href="{{site.baseurl}}/research/index.html">Research</a><div>
	                <!-- <ul><li><a href="#">Data Science Initiative</a></li>
	                <li><a href="#">Science of Science</a></li></ul> -->
	                </div></li>

	                <li id="information" >

	                <a href="{{ site.baseurl }}/information/index.html">Information</a>

	                <div>

	                <ul>
	                	

	                	<li><a href="{{ site.baseurl }}/information/index.html">Materials</a></li>
	                	<li><a href="{{ site.baseurl }}/gallery/index.html">Design / Images</a></li>
	                	<li><a href="{{ site.baseurl }}/3d_tech.html">3D Printing Tech</a>

	                	</ul>

	                </div>

	                
					
		<li><a href="{{site.baseurl}}/education/index.html">Education</a></li>
	                
	                <li><a href="{{site.baseurl}}/seminar/index.html">Seminars</a><div>

	                </div></li><!-- <li><a href="support/index.html">Support NICO</a></li> -->
					

	                <li><a href="{{site.baseurl}}/contact/index.html">Contact</a><div></div></li>
                </ul>
               </div>
            </div>

            <script>
            	$(document).ready(function(){

            	})
            </script>