	
<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div style="box-shadow: 0px 2px 3px #f3f3f3; width:976px; margin:0px auto; padding:20px 0px 20px 0px; margin-top:-20px;">

<div class="title" style=" color:purple; margin-left:33px; margin-bottom:20px; font-size:18px">Information - Material</div>

<ul id="list" style="margin-top:20px;">

<a href="{{site.baseurl}}/information/index.html"><li>황토</li></a>
<a href="{{site.baseurl}}/information/2.html"><li>백토 </li></a>
<a href="{{site.baseurl}}/information/3.html"><li>석고 </li></a>
<a href="{{site.baseurl}}/information/4.html"><li>석회 </li></a>
<a href="{{site.baseurl}}/information/5.html"><li>전분 </li></a>
<a href="{{site.baseurl}}/information/6.html"><li>해초 </li></a>
<a href="{{site.baseurl}}/information/7.html"><li>무기결합재 </li></a>

</ul>

</div>