---

---
{% include head.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">
{% include mhead.html %}
		<div style="margin-left:30px;">
		</div>
<ul>
</li>
</ul>
<br>


</div>


<div style="margin:0px 0px 30px 24px; width:150px; height:250px; overflow: hidden;">
  {% for post in site.categories.lime %}
  <div style="text-align: center">
  	<a href="{{ post.url }}">
  	<img style="width:100%; margin-bottom:10px" src="{{site.baseurl}}/post_images/{{post.link}}.jpg" alt="basicConstruction">
      {{ post.ktitle }}
      <br>
      {{ post.title }}</a>
      
	</div>
  {% endfor %}
</div>

		


</div>

{% include footer.html %}
    </div>
</div>

<script>
  
$(document).ready(
  function(){
$('#information').find('a').css("color","purple");
})

</script>
